@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-5 text-center">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4 mb-4">Bienvenido a la prueba Claro Books</h1>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <img src="img/profile.jpg" class="rounded-circle img-fluid border border-3" alt="Foto de Perfil">
        </div>

    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-6 text-center">
            <h3>Autor</h3>
            <p><strong>Nombre:</strong> Pablo Alexander Taveras Sánchez</p>
            <p><strong>Teléfono:</strong> (809) 403-1798</p>
            <p><strong>Email:</strong> palexanderts@gmail.com</p>
        </div>
    </div>
</div>
